
<div id="wrapper">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li class="active">
                <a href="#/usuario"><i class="fa fa-fw fa-user"></i> Usuarios</a>
            </li>
            <li>
                <a href="#/produto"><i class="fa fa-fw fa-list"></i> Produtos</a>
            </li>
            <li>
                <a href="#/categoria"><i class="fa fa-fw fa-list"></i> Categorias</a>
            </li>
            <li>
                <a href="#/cart"><i class="fa fa-fw fa-shopping-cart"></i> Carrinhos</a>
            </li>
            <li>
                <a href="#/sale"><i class="fa fa-fw fa-list"></i> Vendas</a>
            </li>
            <li>
                <a href="#/configs"><i class="fa fa-fw fa-wrench"></i> Configurações</a>
            </li>

        </ul>
    </div>
    <div id="page-wrapper">

        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header">
                    <small></small>
                </h3>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-list"></i> Produtos
                    </li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div data-ng-app data-ng-controller="ProductController" class="container">
                <strong class="error">{{ error }}</strong>
                <div id="mydiv" data-ng-show="loading">
                    <!--<img src="Images/ajax-loader.gif" class="ajax-loader" />-->
                </div>
                <p data-ng-hide="addMode" title="Adicionar">
                    <a data-ng-click="toggleAdd()" href="javascript:;"><i class="fa fa-plus fa-fw"></i></a>
                </p>
                <br>
                <br>
                <form name="addproduct" data-ng-show="addMode" style="width:600px;margin:0px auto;">
                    <div class="form-group">
                        <label class="col-lg-2">Id:</label>
                        <span class="col-lg-10">
                            <input type="text" class="form-control" data-ng-model="newProduct.ProductId" required />
                        </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-lg-2">Nome:</label>
                        <span class="col-lg-10">
                            <input type="text" class="form-control" data-ng-model="newProduct.ProductName" required />
                        </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-lg-2 " for="category">Categoria</label>
                        <span class="col-lg-10">
                            <select id="category" class="form-control" ng-model="newProduct.category_Product" ng-options="p.Id as p.category_Name for p in categories"></select>
                        </span>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2">Quantidade:</label>
                        <span class="col-lg-10">
                            <input type="text" class="form-control" data-ng-model="newProduct.Quantity" required />
                        </span>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="col-lg-2">Preço:</label>
                        <span class="col-lg-10">
                            <input type="text" class="form-control" data-ng-model="newProduct.Price" required />
                        </span>
                    </div>
                    <br>
                    <br>
                    <input type="submit" value="Adicionar" data-ng-click="add(newProduct)" data-ng-disabled="!addproduct.$valid" class="btn btn-default" />
                    <input type="button" value="Cancelar" data-ng-click="toggleAdd()" class="btn btn-default" />
                    <br /><br />
                </form>
                <table class="table table-bordered table-hover" style="width:800px">
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Categoria</th>
                        <th>Quantidade</th>
                        <th>Preço</th>
                        <th>Ações</th>
                    </tr>

                    <tr ng-repeat="product in products">
                        <td><strong ng-hide="poduct.editMode">{{ product.productId }}</strong></td>
                        <td>
                            <p ng-hide="product.editMode">{{ product.productName }}</p>
                            <input class="form-control" ng-show="poduct.editMode" type="text" ng-model="product.productName" />
                        </td>
                        <td>
                            <p ng-hide="product.editMode">{{ product.category_Product }}</p>
                            <input class="form-control" ng-show="poduct.editMode" type="text" ng-model="product.category_Product" />
                        </td>
                        <td>
                            <p ng-hide="product.editMode">{{ product.quantity }}</p>
                            <input class="form-control" ng-show="product.editMode" type="text" ng-model="product.quantity" />
                        </td>
                        <td>
                            <p ng-hide="product.editMode">{{ product.price }}</p>
                            <input class="form-control" ng-show="product.editMode" type="text" ng-model="product.price" />
                        </td>
                        <td>
                            <p ng-hide="product.editMode"><a ng-click="toggleEdit(product)" href="javascript:;"><i class="fa fa-edit fa-fw"></i></a> | <a ng-click="delete(product)" href="javascript:;"><i class="fa fa-trash-o fa-fw"></i></a></p>
                            <p ng-show="product.editMode"><a ng-click="save(product)" href="javascript:;"><i class="fa fa-save fa-fw"></i></a> | <a ng-click="toggleEdit(product)" href="javascript:;"><i class="fa fa-times fa-fw"></i></a></p>
                        </td>
                    </tr>
                </table>
                <hr />
            </div>
        </div>
    </div>
    </div>
