<br>
<br>
<br>
<br>
<div class="container" ng-app ng-controller="showcaseController">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Loja Virtual Feminina</p>
            <div class="list-group">
                <a href="#" class="list-group-item">Coleção Ferruci</a>
                <a href="#" class="list-group-item">Coleção Maria Filo</a>
                <a href="#" class="list-group-item">Coleção Liza </a>
            </div>
        </div>

        <div class="col-md-9">

            <div class="row carousel-holder">

                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="slide-image" src="../Imagens/slide.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../Imagens/slide2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="../Imagens/slide3.jpg" alt="">
                            </div>
                        </div>
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$240.99</h4>
                            <h4>
                                <a href="#">Vestido Liza</a>
                            </h4>
                            <p>Vestido Longo - Coleção Outono Inverno.<a target="_blank" href="http://www.bootsnipp.com"></a>.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">15 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$640.99</h4>
                            <h4>
                                <a href="#">Vestido Ferruci</a>
                            </h4>
                            <p>Vestido Longo - Coleção Outono Inverno.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">12 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$740.99</h4>
                            <h4>
                                <a href="#">Vestido Maria Filo</a>
                            </h4>
                            <p>Vestido Renda -Preto.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">31 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$345.99</h4>
                            <h4>
                                <a href="#">Vestido Maria Filo</a>
                            </h4>
                            <p>Vestido Longo Renda -Preto.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">6 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$940.99</h4>
                            <h4>
                                <a href="#">Vestido Ferruci</a>
                            </h4>
                            <p>Vestido Floral com Rendas.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">18 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <img src="http://placehold.it/320x150" alt="">
                        <div class="caption">
                            <h4 class="pull-right">R$940.99</h4>
                            <h4>
                                <a href="#">Vestido Ferruci</a>
                            </h4>
                            <p ng-click="onView()">Vestido Floral com Rendas.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right">18 visualizações</p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </p>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>